.background-container {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.background-container-sub {
  display: flex;
  justify-content: space-between;
}

.subcontent {
  width: 70%;
}

.fixed-margin-top {
  margin-top: 0.5rem;
  width: 120px;
}

.text {
  font-size: 1.2rem;
}

@media screen and (max-width: 825px) {
  .background-container-sub {
    flex-direction: column;
  }

  .fixed-margin-top {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
  }
}
