.subcontent {
  width: 70%;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 1.2rem;
  text-align: left;
}

.anchor-link {
  color: rgb(77, 77, 77);
}

.sentiment-analysis-img {
  width: 60%;
  margin: auto;
  outline: 1px solid gray;
  border-radius: 5px;
}

.games-divider {
  border-top: 1px solid black;
  width: 50%;
  margin: auto;
  margin-top: 1.5rem;
}

@media screen and (max-width: 825px) {
  .sentiment-analysis-img {
    width: 100%;
  }

  .text {
    font-size: 0.9rem;
  }

  .subcontent > h2 {
    font-size: 1.2rem;
  }
}
