.subtitle {
  width: 80%;
  margin: auto;
}

.subcontent {
  width: 70%;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 1.2rem;
  text-align: left;
}

.anchor-link {
  color: rgb(77, 77, 77);
}

.games-divider {
  border-top: 1px solid var(--divider);
  width: 50%;
  margin: auto;
  margin-top: 1.5rem;
}

@media screen and (max-width: 900px) {
  .text {
    font-size: 0.9rem;
  }

  .subcontent > h2 {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}
