.header-portfolio {
  text-align: left;
  margin-top: 10rem;
  margin-bottom: 7rem;
}

.header-portfolio > h1 {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.85);
}

.header-portfolio > h2 {
  font-weight: 100;
  width: 50%;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.85);
}

.button-portfolio {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 100;
  padding: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  background-color: rgb(173, 171, 171);
  border: 0;
  border-radius: 6px;
  font-size: 1.5rem;
  transition-duration: 500ms;
}

.button-portfolio:hover {
  cursor: pointer;
  transition-duration: 500ms;
  background-color: rgb(148, 148, 148);
}

@media screen and (max-width: 825px) {
  .header-portfolio {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .header-portfolio > h1 {
    font-size: 4rem;
    margin: 1rem auto;
  }

  .header-portfolio > h2 {
    margin: auto;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    width: 85%;
  }
}
