.header {
  text-align: left;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.header > h1 {
  font-size: 5rem;
  color: var(--text-primary);
}

.header > h2 {
  font-weight: 100;
  width: 50%;
  font-size: 2rem;
  color: var(--text-primary);
}

.button-container {
  display: flex;
  gap: 1em;
  width: 50%;
  margin-bottom: 2rem;
}

.button {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 100;
  padding: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  background-color: rgb(173, 171, 171);
  border: 0;
  border-radius: 6px;
  font-size: 1.5rem;
  transition-duration: 500ms;
  color: var(--text-primary);
}

.button:hover {
  cursor: pointer;
  transition-duration: 500ms;
  background-color: rgb(148, 148, 148);
  color: var(--text-primary);
}

.span {
  font-weight: 700;
}

.contact-email {
  font-size: 1.3rem;
  color: var(--text-primary);
}

.contact-email > a {
  color: var(--text-primary);
}

@media screen and (max-width: 900px) {
  .header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .header > h1 {
    font-size: 4rem;
    margin: 0rem auto;
  }

  .header > h2 {
    margin: auto;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    width: 85%;
  }

  .button-container {
    width: 30%;
    margin: auto;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .button {
    font-size: 1.2rem;
  }
}
